body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.nazv {
    display: flex;
}

.logo {
    width: 75px;
    height: 75px;
    margin-top: 20px;
    margin-left: 20px;
}

.nazv h1 {
    color: rgb(152, 107, 197);
    font-size: 30px;
    margin-top: 45px;
}



/*  container  */
.container {
    background-color:  rgb(215, 196, 235);
    width: 385px;
    height: 445px;
    text-align: left;
    border-radius: 15px;
    font-size: 12px;
    margin-top: 22px;
    margin-left: 490px;
}

.container h1 {
    margin: 9px;
    margin-left: 15px;
    height: 15px;
    font-weight: 100;
    font-family: math;
    margin-top: 5px;
}
/*  end container  */



.shapka {
    background-color: rgb(152, 107, 197);
    border-radius: 15px;
    text-align: center;
    height: 50px;
    text-align: center;
}



/*  btn  */
.btn-1 {
    font-family: cursive;
    height: 50px;
    width: 192px;
    border-radius: 15px  0;
    background-color: rgb(151, 107, 197);
    border: 0;
        &:hover{
        background-color:  rgb(215, 196, 235);
    }

}
.btn-2 {
    font-family: cursive;
    height: 50px;
    width: 190px;
    border-radius: 0 15px;
    background-color: rgb(151, 107, 197);
    border: 0;
    &:hover{
        background-color: rgb(215, 196, 235);
    }
}

.btn-3 {
    margin-left: 16px;
    height: 28px;
    width: 354px;
    margin-top: 25px;
    background-color: rgb(151, 107, 197);
    border: 0;
    &:hover{
        background-color: #fff;
    }
}

.btn-4 {
    width: 130px;
    height: 30px;
    margin-left: 128px;
    margin-top: 20px;
    background-color: rgb(151, 107, 197);
    color: rgb(0, 0, 0);
    border: 0;
    &:hover{
        background-color: #fff;
    }
}
/*  end btn  */



/*  registr  1  */
.fam {
    margin-left: 15px;
    width: 90%;
    height: 22px;
    margin-top: 10px;
}

.ima {
    margin-left: 15px;
    width: 90%;
    height: 22px;
    margin-top: 10px;
}

.E-mail {
    margin-left: 15px;
    width: 90%;
    height: 22px;
    margin-top: 10px;
}

.parol {
    margin-left: 15px;
    width: 90%;
    height: 22px;
    margin-top: 10px;
}
/*  end registr 1  */



/*  registr 2  */
.E-mail {

}

.parol-1 {

}
/*  end registr 2  */