body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}



.logo {
    width: 75px;
    height: 75px;
    margin-top: 20px;
    margin-left: 20px;
}

.nazv h1 {
    color: rgb(152, 107, 197);
    font-size: 30px;
    margin-top: 45px;
}



/*  container  */
.container {
    background-color:  rgb(215, 196, 235);
    width: 385px;
    height: 445px;
    text-align: left;
    border-radius: 15px;
    font-size: 12px;
    margin-top: 22px;
    margin-left: 490px;
}

.container h1 {
    margin: 9px;
    margin-left: 15px;
    height: 15px;
    font-weight: 100;
    margin-top: 5px;
}

.container-1 {
    background-color:  rgb(215, 196, 235);
    width: 385px;
    height: 445px;
    text-align: left;
    border-radius: 15px;
    font-size: 12px;
    margin-top: 22px;
    margin-left: 490px;
}

.container-2 {
    background-color: rgb(215, 196, 235);
    width: 100%;
    height: 100%;
    font-size: 12px;
    margin-top: 22px;
    margin-left: 0;
}
/*  end container  */



.shapka {
    background-color: rgb(152, 107, 197);
    border-radius: 15px;
    text-align: center;
    height: 50px;
    text-align: center;
}

h2 {
    margin-top: 29px;
    margin-left: 19px;
    height: 15px;
    font-weight: 100;
    font-family: math;
}



/*  btn  */
.btn-1 {
    font-family: cursive;
    height: 50px;
    width: 192px;
    border-radius: 15px  0;
    background-color: rgb(151, 107, 197);
    border: 0;
        &:hover{
        background-color:  rgb(215, 196, 235);
    }

}
.btn-2 {
    font-family: cursive;
    height: 50px;
    width: 190px;
    border-radius: 0 15px;
    background-color: rgb(151, 107, 197);
    border: 0;
    &:hover{
        background-color: rgb(215, 196, 235);
    }
}

.btn-3 {
    margin-left: 16px;
    height: 28px;
    width: 354px;
    margin-top: 25px;
    background-color: rgb(151, 107, 197);
    border: 0;
    &:hover{
        background-color: #fff;
    }
}

.btn-4 {
    width: 130px;
    height: 30px;
    margin-left: 128px;
    margin-top: 20px;
    background-color: rgb(151, 107, 197);
    color: rgb(0, 0, 0);
    border: 0;
    &:hover{
        background-color: #fff;
    }
}

.btn-5 {
    width: 130px;
    height: 30px;
    margin-left: 128px;
    margin-top: 105px;
    background-color: rgb(151, 107, 197);
    color: rgb(0, 0, 0);
    border: 0;
    &:hover{
        background-color: #fff;
    }
}
/*  end btn  */



/*  registr  1  */
.fam {
    margin-left: 15px;
    width: 90%;
    height: 22px;
    margin-top: 10px;
}

.ima {
    margin-left: 15px;
    width: 90%;
    height: 22px;
    margin-top: 10px;
}

.E-mail {
    margin-left: 15px;
    width: 90%;
    height: 22px;
    margin-top: 10px;
}

.parol {
    margin-left: 15px;
    width: 90%;
    height: 22px;
    margin-top: 10px;
}
/*  end registr 1  */



/*  registr 2  */
.E-mail-1 {
    margin-left: 15px;
    width: 90%;
    height: 30px;
    margin-top: 15px;
}

.parol-1 {
    margin-left: 15px;
    width: 90%;
    height: 30px;
    margin-top: 10px;
}
/*  end registr 2  */



/*  chat  */
.chat {
    background-color: rgb(151, 107, 197);
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.chat .prof {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 5px;

}

.nastr {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

.windows {
    display: flex;
}

.chats {
    background-color:  rgb(201, 160, 245);
    width: 400px;
    height: 100%;
}

.poisk {
    width: 392px;
    height: 30px;
    border-color: rgb(108, 105, 105);
}

.lines {
    width: 100%;
    height: 100vh;
}

.lines-1 {
    border: 1px solid #4b4b4b;
    height: 35px;
}
/*  end chat  */